/////////////// color ///////////////
$black: #333333;
$gray: #f8f8f8;
$red: #e9455a;
$yellow: #f5f5cc;
$beige: #F8F6F0;
$darkBeige:#f3dc93;
$brown: #946134;
$green: #51a347;

$mainColor: #E68A00;
$baseColor: #eeeeee;
$fontColor: #333333;
$backGroundColor: #ffedd2;

