@charset "utf-8";

@use "reset";
@use "base";
@use "variables" as v;

/////////////// height ///////////////
$headHeight:80px;
$footHeight:48px;
$mainHeight:calc(100vh - (#{$headHeight} + #{$footHeight}));

/////////////// width ///////////////←未使用
$resultWidth:400px;
$tmbWidth:120px;

/////////////// z-index ///////////////←未使用
$z-indexs:(
  'drawermenuBtn'  :9000000,
  'drawermenuContent'  :8000000,
  'topBtn'  :1000000,
  'earthTxt':100000,
);

///////////////////////////////////////
body{
  background: v.$backGroundColor;
}
.container{
  max-width: 1480px;
  padding: 0 0.5em;
  margin: 0 auto;
}
h1{
  padding: 2rem 0;
  font-size: 36px;
  text-align: center;
}

///////////////////////////////////////
.item-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(442px, 1fr));
}
.item{
  margin: 0.5rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 6px 6px 10px 0 rgba(230, 138, 0, 0.7);
  dt{
    padding:1rem;
    background: v.$beige;
    border-radius: 8px 8px 0 0 ;
    &:hover{
      background: v.$darkBeige;
      transition: .5s;
    }
  }
  dd{
    padding: 0.5rem 1rem;
    line-height: 2rem;
  }
  .title{
    font-weight: bold;
  }
  .skill{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    span{
      border-bottom: 2px solid v.$darkBeige;
    }
  }
  .note{
    padding: 1rem 0.75rem 2rem;
    border-top: 2px dashed v.$darkBeige;
  }
}
///////////////////////////////////////
header{
  min-height: 100px;
}

footer{
  height: 180px;
}
#pagetop{
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: map-get($z-indexs, 'topBtn');
  display: block;
  width: 100px;
  height:100px;
  cursor: pointer;
  background: rgba(75, 114, 77, .8);
  //border: 1px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: .5s;
  &.visible {
    pointer-events: auto;
    opacity: 1;
  }
  span{
    position: absolute;
    top: 40px;
    left: 38px;
    display: block;
    width:25px;
    height:25px;
    content:"";
    border-top:4px solid #ffffff;
    border-right:4px solid #ffffff;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
}